* {
background: transparent; !important
color: black
font-family: serif;
font-size: 12pt;
}

@page {
  margin: .5in;

}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: none;
}

ul {
display: none;
}

li {
  display: none;
}

h1 {
  text-align: center;
  font-size: 24pt
}
