* {
background: transparent; !important
color: black
font-family: serif;
font-size: 12pt;
}


@page {
  margin: .5in;

}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: none;
}

h1 {
  font-size: 24pt
}
