@media (max-width: 320px) {

@import url(https://fonts.googleapis.com/css?family=Quicksand:700,400);

#home h1 {
  font-size: 35px;
  position: relative;
  font-size-adjust: auto;
  font-style: "Quicksand";
  position: fixed;
}

#about h1 {
  font-size: 35px;
  position: relative;
  font-size-adjust: auto;
  font-style: "Quicksand";
  position: fixed;
}

#clips h1 {
font-size: 35px;
position: relative;
font-size-adjust: auto;
font-style: "Quicksand";
position: fixed;
}

#contact h1 {
  font-size: 35px;
  position: relative;
  font-size-adjust: auto;
  font-style: "Quicksand";
  position: fixed;
}

nav {
  width: 25%;
  float: none;
  padding: 2em;

}

ul {
  width: 50%;

}

li {
  font-size: 12px;
}

body {
  min-width: 0px;
  height: 100px;
}

#about {
  float: none;
  width: 50%;
}

.break_word {
  width: auto;
}
